@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('./fonts/gothampro_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('./fonts/gothampro_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('./fonts/gothampro_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth
}

button {
    transition: 300ms
}
button:not(.advantages__list-more):hover {
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 0 40px 0 #dd6c30;
}

:root {
    --font-family: "Gotham Pro", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Latin CT", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Bahnschrift", sans-serif;
}

.container {
    max-width: 1574px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.hero__row {
    display: flex;
    flex-wrap: nowrap;
}


.header__language-img {
    width: 23px;
    height: 23px;
}

.header__language-more {
    width: 22px;
    height: 22px;
    margin-top: 1px;
}

.header__first-block {
    display: flex;
}


.hero {
    background: url("./img/firstbg.png") no-repeat;
    position: relative;
    padding-bottom: 426px;
}

.hero__background {
    position: absolute;
    top: 6px;
    left: 760px;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.hero__background img {
    width: 100%;
}

.header__logo {
    margin-right: 42px;
}

header nav ul {
    margin-top: 34px;
    display: flex;
    max-width: 645px;
    justify-content: space-between;
}

.header__buttons-signup {
    border: 1px solid #FF8924;
    border-radius: 20px;
    padding: 22px 28px 22px 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    margin-right: 20px;
    max-height: 60px;
    align-items: center;
    display: flex;
}

.header__buttons {
    display: flex;
    align-self: flex-end;
    margin-top: 12px;
    margin-right: 11px;
}

.header__buttons-open {
    border-radius: 20px;
    padding: 22px 54px 22px 54px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
}

section {
    padding: 0 15px;
}

header nav ul li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

header nav ul a{
    margin-right: 95px
}

.header__buttons-open {
    text-wrap: nowrap
}

.header__nav-ref {
    margin-right: 85px;
}


header nav ul a:last-child {
    margin-right: 0;
}


.header__nav-contacts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    background: radial-gradient(3992.22% 112.45% at 8.04% 17.65%, rgb(231, 170, 25) 0%, rgb(203, 109, 156) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
}

.header__switch-language {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-top: 31px;
    margin-right: 72px;
}

.header__switch-language p {
    margin-top: 2px;
}

.header__switch-language p {
    margin-left: 6px;
    margin-right: 3px;
}

body {
    background: #0E0E12
}

.hero__banner {
    margin-top: 23px;
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.04) 100%);
    border-radius: 19px;
}

.hero__present-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.hero__present-inner img {
    padding: 22px 10px 20px 9px;
}

.hero__present-text {
    margin-top: 29px;
}

.hero__present-inner {
    display: flex;
    justify-content: space-between;
}

.hero__present-wrapper {
    display: flex;
}

.hero__present-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #eae9e9;
}

.hero__present-timer {
    margin: 37px 43px 0px 0px;
    display: flex;
}

.hero__present-timer p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.07em;
    color: #fff;
}

.hero__present-timer span {
    font-size: 20px;
}

.hero__title {
    margin-top: 34px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 117%;
    color: white;
}

.hero__list {
    margin-top: 16px;
    font-family: 'Gotham Pro Light';
    font-weight: 300;
    font-size: 30px;
    line-height: 159%;
    color: #eae9e9;
    margin-left: 45px;
}

.hero__list li {
    list-style: disc;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
}

.hero__buttons {
    margin: 38px 0px 0px 2px;
    display: flex;
    max-height: 106px;
    flex-wrap: wrap;
}

.hero__button-download {
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
    color: #000;
    padding: 36px 91px 36px 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.hero__button-download:after {
    content: url("./img/image-removebg-preview-91.svg");
    position: absolute;
    top: -12px;
    left: 284px;
    right: 0;
    bottom: 0;
}

.hero__button-download:before {
    pointer-events: none;
    content: url("./img/arrowtobutton.svg");
    position: absolute;
    top: -160px;
    left: -456px;
    right: 0;
    bottom: 0;
}

.hero__button-open {
    border: 4px solid #CE6933;
    padding: 20px 108px 20px 108px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background: transparent;
    display: flex;
    align-items: center;
}

.hero__reviews {
    display: flex;
    margin-top: 50px;
}

.hero__reviews p {
    margin: 15px 0px 0px 12px;
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 126%;
    color: #fff;
}

/* INVEST */

.invest {
    margin-top: -355px;
    padding-bottom: 162px;
}

.invest__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invest__title {
    max-width: 851px;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.invest__subtitle {
    max-width: 651px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

.invest__heading span {
    font-family: 'Gotham Pro Bold';
}

.invest__row-img {
    width: 144px;
    height: 144px;
}

.invest__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.invest__row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowered--item {
    margin-top: 57px;
}

.invest__item-percentage {
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #4bd879;
}

.invest__item-money {
    padding: 5px 12px 5px 12px;
    border-radius: 18px;
    background: #262626;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}

.invest__sub-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invest__subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    margin-bottom: 34px;
}

.invest__button-get {
    border-radius: 20px;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
    padding: 36px 86px 36px 86px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
    color: #000;
}

/* TOOLS */

.tools {
    padding-bottom: 140px;
}

.tools__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 94px;
}

.tools__img-wrapper img {
    width: 100%;
    height: 100%;
}

/* STEPS */

.steps__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.steps__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 28px;
}

.steps__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    max-width: 560px;
    margin-bottom: 92px;
}


.steps__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.steps__item:last-child {
    margin-right: 141px;
}

.steps__item {
    position: relative;
}

.steps__item-first::before {
    position: absolute;
    content: "";
    background: url('./img/1.svg') no-repeat;
    top: -16px;
    left: 296px;
    right: 0;
    bottom: 0;
    width: 50%;
}

.steps__item-second::before {
    position: absolute;
    content: "";
    background: url('./img/2.svg') no-repeat;
    top: -16px;
    left: 234px;
    right: 0;
    bottom: 0;
    width: 50%;
}

.steps__item-third::before {
    position: absolute;
    content: "";
    background: url('./img/3.svg') no-repeat;
    top: -16px;
    left: 366px;
    right: 0;
    bottom: 0;
    width: 50%;
}

.steps__item-heading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 20px;
}

.steps__item-instr {
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 35px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 30px;
    max-width: 377px;
}

.steps-margin {
    margin-bottom: 74px;
}

.steps__item-subtitle {
    font-family: 'Gotham Pro Light';
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    max-width: 377px;
}

/* BONUS */

.bonus {
    padding-top: 444px;
    position: relative;
    padding-bottom: 236px;
}

.bonus__img-background {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bonus__img-background img {
    width: 100%;
}

.bonus__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonus__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    max-width: 642px;
    margin-bottom: 32px;
    position: relative;
}

.bonus__title::before {
    position: absolute;
    content: "БОНУС";
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 200px;
    line-height: 117%;
    text-align: center;
    background: linear-gradient(180deg, #4b5951 0%, rgba(61, 82, 70, 0.1) 98.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: -152px;
    z-index: -1;
    left: -52px;
}

.bonus__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    max-width: 670px;
}

.bonus__buttons {
    margin-top: 58px;
}

.bonus__button-get {
    padding: 36px 96px 36px 96px;
    border-radius: 20px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
    color: #000;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
    margin-right: 20px;
}

.bonus__button-open {
    padding: 36px 78px 36px 78px;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    color: #e7e7e7;
    text-align: center;
    background-color: transparent;
    border: 4px solid #ce6a33;
}

/* ADVANTAGES */

.advantages {
    padding-bottom: 144px;
}

.advantages__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.advantages__title {
    max-width: 980px;
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 020px;
    grid-row-gap: 20px;
}

.advantages__list-item {
    background: #1b1b1c;
    border-radius: 5px;
    padding-left: 44px;
    padding: 46px 0px 0px 44px;
    position: relative;
    height: 442px;
    width: 378px;
}

.advantages__list-img {
    margin: 0px 0px 35px 0px;
}

.advantages__list-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 125%;
    color: #fff;
    max-width: 276px;
}

.advantages__list-more {
    font-family: 'Gotham Pro Light';
    font-weight: 400;
    font-size: 18px;
    line-height: 157%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #fff;
    background: transparent;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.advantages__list-more span {
    text-decoration: none
}

.advantages__list-subtitle {
    font-family: 'Gotham Pro Light';
    font-weight: 400;
    font-size: 22px;
    line-height: 157%;
    color: #fff;
    max-width: 301px;
    position: relative;
}

.sec-group {
    bottom: 92px;
    left: 48px;
    position: absolute;
}

.list-title--special {
    max-width: 300px;
}

.first-group {
    top: 36px;
    left: 0
}

.img-sec--group {
    margin-top: 64px;
}

.item--sec {
    padding: 65px 0px 0px 44px;
}

/* BRIEFCASE */

.briefcase__section {
    padding-bottom: 246px;
}

.briefcase__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 212px;
}

.briefcase__first-row {
    padding-top: 104px;
    position: relative;
    margin-bottom: 200px
}

#progress-input {
    cursor: pointer;
    width: 412px;
    -webkit-appearance: none;
    /* Убираем стандартный стиль */
    position: relative;
    /* Относительное позиционирование для ползунка */
    z-index: 2;
    /* Устанавливаем выше заполненной части */
    background-color: transparent;
    /* Прозрачный фон для самого инпута */

}


#progress-input::-webkit-slider-runnable-track {
    height: 11px;
    /* Высота дорожки */
    background: #303030;
    /* Цвет дорожки */
    border-radius: 5px;
    /* Закругление углов */
}

/* Стили для ползунка в WebKit браузерах */
#progress-input::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    /* Убираем стандартный стиль */
    appearance: none;
    z-index: 999;
    width: 21px;
    /* Ширина ползунка */
    height: 21px;
    /* Высота ползунка */
    background: #66d17e;
    /* Цвет ползунка */
    border-radius: 50%;
    /* Закругление углов */
    cursor: pointer;
    /* Указатель при наведении */
    margin-top: -5px;
}

.briefcase__inputs {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -178px;
    left: 21%;
}

input[type="radio"] {
    display: none;
    /* Скрываем стандартный чекбокс */
}

.custom-checkbox {
    cursor: pointer;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox svg {
    transition: all 0.3s ease;
    /* Плавный переход */
}

.briefcase__inputs label span {
    display: flex;
}

.briefcase__inputs label {
    cursor: pointer;
    margin-bottom: 22px;
}


/* Стили для состояния при клике */
input[type="radio"]:checked+.custom-checkbox svg circle {
    r: 15;
    stroke-width: 12;
}

.checkbox-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 157%;
    color: #fff;
    margin-left: 32px;
}

#progress-bar {
    width: 690px;
    border-radius: 100%;
}

#progress-bar svg {
    stroke-linecap: round;
    overflow: visible;
}

#progress-bar svg path:last-child {
    stroke-linecap: round;
    filter: drop-shadow(0 0 4px rgba(76, 125, 90, 0.5));
}

.slider-container {
    position: absolute;
    bottom: 10px;
    left: 21%;
    width: 412px;
    /* Ширина контейнера */
    height: 6px;
    /* Высота дорож#cки */
    background-color: transparent;
    border-radius: 5px;
    /* Закругление углов */
}

.slider-fill {
    pointer-events: none;
    position: absolute;
    height: 11px;
    /* Высота заполненной части */
    bottom: -7px;
    z-index: 3;
    background-color: #66d17e;
    /* Цвет заполненной части */
    border-radius: 5px;
    /* Закругление углов */
    transition: width 0.1s ease-in-out;
    /* Плавный переход при изменении ширины */
}

#progress-bar .progressbar-text {
    display: none;
}

.briefcase__subheading {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 157%;
    color: #fff;
}

.briefcase__heading {
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 65px;
    line-height: 117%;
    color: #fff;
}

.briefcase__plate {
    margin-top: 16px;
    padding: 4px 25px 4px 25px;
    background: linear-gradient(120deg, rgba(66, 89, 74, 0.4) 0%, rgba(101, 204, 125, 0.22) 100%);
    border-radius: 35px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 126%;
    text-align: center;
    color: #c5c5c5;
}

.briefcase__progressbar-container {
    position: relative;
}

.briefcase__progressbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.briefcase__title {
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 65px;
    line-height: 117%;
    color: #fff;
    max-width: 687px;
}

.briefcase__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    color: #fff;
    margin: 18px 0px 50px 0px;
    max-width: 510px;
}

.briefcase__button {
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%), #d9d9d9;
    border-radius: 20px;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    padding: 35px 72px 35px 80px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
    color: #000;
}

.briefcase__pros-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.briefcase__pros {
    display: flex;
    justify-content: space-between;
}

.pros__item-title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    background: linear-gradient(148deg, #65ca7c 0%, #4f815c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.pros__item-subtitle {
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 26px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.9);
}

/* MOBILE */

.mobile {
    padding-bottom: 282px;
}

.mobile__row {
    display: flex;
    padding-bottom: 48px;
}

.mobile__first-block {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-left: 79px;
}

.mobile__sec-block {
    margin-right: -72px;
}


.mobile__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    color: #fff;
    line-height: 117%;
    margin-bottom: 26px;
}

.mobile__img-wrapper img {
    width: 100%;
}

.mobile__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    color: #fafafa;
}

.mobile__iframe img {
    width: 100%;
    padding-bottom: 312px;
}

.mobile__second-row {
    display: flex;
    justify-content: space-between;
}

.mobile__sec-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    color: #fff;
    margin-bottom: 25px;
}

.mobile__sec-first {
    position: relative;
}

.mobile__first-background {
    position: absolute;
    left: 28%;
}

.mobile__sec-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    color: #fafafa;
    margin-bottom: 52px;
}

.mobile__sec-block {
    display: flex;
    flex-direction: column;
    max-width: 539px;
    margin-right: 64px;
}

.ellipse {
    width: 276px;
    height: 276px;
    border-radius: 100%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    filter: blur(250px);
}

.mobile__sec-buttons {
    display: flex;
}

.mobile__button-ios {
    position: relative;
    padding: 25px 52px 25px 60px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    background: transparent;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    color: #fff;
    margin-right: 20px;
}

.mobile__button-ios::after {
    content: url("./img/apple.svg");
    position: absolute;
    top: 24px;
    left: -174px;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.mobile__button-android::after {
    content: url("./img/android.svg");
    position: absolute;
    top: 24px;
    left: -186px;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.mobile__button-android {
    position: relative;
    padding: 25px 25px 25px 51px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    background: transparent;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    color: #fff;
}

/* ANSWERS */

.answers {
    padding-bottom: 186px;
}

.answers__row {
    display: flex;
}

.answers__second-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answers__first-block {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin-right: 84px;
    justify-content: space-between;
}

.answers__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    color: #fff;
    margin-bottom: 22px;
}

.answers__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    max-width: 343px;
}

.answers__accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.answers__accordion-item {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 117%;
    color: #fff;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 72px;
}


.answers__accordion-open:last-child {
    margin-bottom: 0;
}

.answers__accordion-open {
    width: 100%;
    height: 100%;
    transition: 200ms;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 117%;
    color: #fff;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 72px;
}

.arrow-accordion {
    transform: rotate(180deg);
}

.accordion--hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.answers__accordion-hidden--arrow {
    transition: 300ms;
}

.answers__accordion-hidden-arrow line,
.answers__accordion-hidden--arrow circle {
    transition: 300ms;
}


.answers__accordion-hidden--arrow.colored line,
.answers__accordion-hidden--arrow.colored circle {
    stroke: #62666f;
}

.answers__consult-button {
    padding: 35px 48px 35px 48px;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    color: #000;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
    margin-bottom: 35px;
}




.answers__accordion-sticky {
    display: flex;
    align-items: center;
}

.answers__accordion-question {
    margin-right: 82px;
}

/* APPLICATION */

.application {
    padding-bottom: 138px;
}

.appication__title {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    color: #fff;
    text-align: center;
    margin-bottom: 84px;
}

.application__row {
    display: flex;
    padding-bottom: 132px;
}

.first-step {
    margin-right: 37px;
    position: relative;
}

.application__first-step {
    position: relative;
}

.application__second-step {
    position: relative;
}

.application__third-step {
    position: relative;
}

.line-right {
    max-width: 303px;
}

.line-right img {
    width: 100%;
}

.application__first-step::after {
    content: url("./img/firsst.svg");
    position: absolute;
    top: -16px;
    left: 110px;
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
}

.application__second-step::after {
    content: url("./img/seccond.svg");
    position: absolute;
    top: -16px;
    left: 161px;
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
}

.application__third-step::after {
    content: url("./img/thirrd.svg");
    position: absolute;
    top: -16px;
    left: 152px;
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
}


.application__lined {
    display: flex;
    align-items: center;
}

.application__text-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #fff;
    margin: 35px 0px 35px 0px;
}

.application__text-second {
    margin-left: 50px;
}

.application__text-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    max-width: 377px;
}

.second-step {
    margin-left: 52px;
    margin-right: 54px;
    position: relative;
}

.third-step {
    margin-left: 40px;
    position: relative;
}

.application__contacts-name::placeholder {
    font-family: "Gotham Pro Light";
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
}

.application__contacts-row {
    display: flex;
    justify-content: space-between;
}

.application__contacts-name {
    padding: 35px 61px 35px 40px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    border: 4px solid rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    background: #202020;
}

.application__contacts-tel::placeholder {
    font-family: "Gotham Pro Light";
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
}

.application__contacts-tel {
    padding: 35px 51px 35px 40px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    border: 4px solid rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    background: #202020;
}

.application__contacts-email::placeholder {
    font-family: "Gotham Pro Light";
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
}

.application__contacts-email {
    padding: 36px 54px 35px 40px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    border: 4px solid rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    background: #202020;
}

.application__contacts-button::placeholder {
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    color: #000;
}

.application__contacts-button {
    border-radius: 20px;
    padding: 36px 97px 35px 92px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    color: #000;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
}

/* FOOTER */

footer {
    background: #202020;
    padding: 94px 0px 115px 0px;
    position: relative;
}

.footer__background {
    position: absolute;
    width: 1837px;
    height: 418px;
    border-radius: 100%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    filter: blur(250px);
    top: -52px;
    z-index: -1;
    left: 0;
}

.footer__logo {
    margin-bottom: 22px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__first-column {
    display: flex;
    flex-direction: column;
}

.footer__links img {
    max-width: 188px;
}

.footer__politics {
    margin-top: 12px;
    font-family: 'Gotham Pro Light';
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.footer__contacts-heading {
    font-family: 'Gotham Pro Light';
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.footer__contacts-tel {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin-bottom: 38px;
}

.footer__contacts button {
    padding: 18px 35px 18px 35px;
    border-radius: 20px;
    font-family: 'Gotham Pro Medium';
    font-weight: 500;
    font-size: 22px;
    line-height: 159%;
    color: #000;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(86deg, #dd6c30 0%, #e38049 54.17%, #ffbe80 75%, #e49131 100%);
}

.footer__contacts-text {
    margin-right: 26px;
}


.burger__menu-wrapper {
    display: none;
    margin-right: 14px;
    z-index: 1;
}

.overlay {
    display: none;
    z-index: -1;
}
.header__top {
    display: none;
}

@media (max-width: 640px) {

     .overlay {
        display: flex;
        transition: 300ms;
        background: rgba(33, 32, 32, 0.8);
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
    
    .header__top {
        transition: 500ms;
        transform: translateX(-100%);
        position: fixed;
        max-width: 232px;
        right: 0px;
        bottom: 0;
        top: 0;
        left: 0;
        background: #0E0E12;
        z-index: 100;
        display: flex;
        border-left: 1px solid green;
    }
    
    .header__switch-language--mobile {
        display: flex;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        margin-top: 32px;
        align-items: center;
        margin-bottom: 76px;
    }
    
    .header__switch-language--mobile p {
        margin: 0px 4px 0px 6px;
    }
    
    .header__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 95vh;
        margin-left: 34px;
    }
    
    .header__inner nav a {
        margin-bottom: 20px;
    }
    
    .header__inner nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 250%;
    }
    
    .header__inner nav a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #fff;
    }

    .appication__title {
        margin-bottom: 44px
    }

    .header__first-block {
        align-items: center;
    }

    .header__switch-language {
        display: none;
    }

    .header__wrapper nav {
        display: none;
    }

    .header__logo svg {
        max-width: 94px;
    }

    .hero__present-inner {
        flex-direction: column-reverse;
        position: relative;
        padding-top: 14px;
    }

    .hero__present-inner img {
        position: absolute;
    }

    .hero__present-timer p,
    .hero__present-timer span,
    .hero__present-title,
    .hero__present-subtitle {
        font-size: 10px;
    }

    .hero__present-subtitle {
        margin-bottom: 14px;
        padding-right: 86px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__list {
        margin-left: 18px;
    }

    .hero__list {
        font-size: 12px;
    }

    .header__wrapper {
        width: 314px;
    }

    section {
        padding: 0 43px;
    }

    .hero__banner {
        margin-top: 0;
    }

    .hero__banner {
        width: 140%;
        margin-left: -43px;
        padding-left: 43px;
        border-radius: 0;
    }

    .hero__present-wrapper img {
        width: 50px;
        right: 30px;
        top: 26px;
    }

    .hero__present-text {
        margin-top: 5px;
    }

    .hero__present-timer {
        margin: 8px 0px 0px 0px;
    }

    .header__buttons {
        align-self: center;
        margin: 6px -30px 0px 0px;
    }

    .burger__menu-wrapper {
        display: flex;
    }

    .header__buttons button {
        font-size: 7px;
        padding: 6px 14px 6px 14px;
        box-shadow: none;
        border-radius: 4px;
        text-wrap: nowrap;
    }

    .header__buttons-signup {
        margin-right: 8px;
    }

    .hero__buttons button {
        font-size: 7px;
    }

    .header__wrapper {
        padding-top: 0;
    }

    .hero__reviews img {
        width: 61px;
    }

    .hero__reviews {
        margin-top: 15px;
    }

    .invest__subtitle {
        font-size: 12px;
        max-width: 216px;
        margin-bottom: 20px;
    }

    .invest__row-img {
        width: 70px;
        height: 70px;
    }

    .invest__row-img img {
        width: 70px;
        height: 70px;
    }

    .invest__item-percentage {
        font-size: 12px;
    }

    .invest__item-money {
        font-size: 10px;
    }

    .lowered--item {
        margin-top: 0;
    }

    .invest__row {
        margin-left: -68px;
        margin-bottom: 18px;
    }

    .invest__subtext {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .invest__button-get {
        font-size: 8px;
        padding: 10px 18px 10px 18px;
        border-radius: 4px;
        box-shadow: none;
    }

    .invest__row-item {
        margin-right: 16px;
    }

    .invest__row-item:last-child {
        margin-right: 16px;
    }

    .invest {
        margin-top: 54px;
    }

    .tools__title {
        margin-bottom: 20px;
    }

    h2,
    h3 {
        font-size: 25px !important;
    }

    .advantages__list-title {
        font-size: 14px;
    }

    .advantages__list-subtitle {
        font-size: 9px;
    }

    .advantages {
        padding-bottom: 80px;
    }

    .briefcase__row {
        justify-content: center;
        padding-bottom: 132px;
        flex-wrap: wrap
    }

    .briefcase__button {
        font-size: 8px;
        padding-top: 13px;
        padding-bottom: 13px;
        width: 100%;
        border-radius: 4px;
    }

    .mobile__row {
        flex-wrap: wrap;
        text-align: center;
    }

    .mobile__subtitle {
        font-size: 12px;
    }

    .mobile__first-block {
        margin-left: 0;
    }

    .mobile__sec-second--block {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .mobile__sec-buttons button {
        padding: 13px 0px 13px 0px;
        width: 100%;
        font-size: 8px;
    }

    .mobile__button-ios {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .mobile__button-android::after {
        content: url(./img/android.svg);
        position: absolute;
        top: 7px;
        left: -132px;
        right: 0;
        bottom: 0;
    }


    .mobile__img-wrapper {
        margin-left: 0 !important;
        margin-top: 40px;
    }

    .mobile__sec-subtitle {
        margin-bottom: 26px;
    }

    .mobile__button-ios::after {
        top: 7px;
        left: -110px;
        right: 0;
        bottom: 0;
    }

    .mobile__sec-subtitle {
        font-size: 12px;
    }

    .mobile__sec-buttons {
        flex-wrap: wrap;
    }

    .mobile__sec-block {
        margin-right: 0px;
        margin-top: 20px;
    }

    .mobile__iframe img {
        width: 100%;
        padding-bottom: 200px;
    }

    .mobile__second-row {
        flex-wrap: wrap-reverse;
    }

    .answers__first-block {
        text-align: center;
        margin-right: 0;
    }

    .answers__row {
        flex-wrap: wrap;
    }

    .answers__consult-button {
        padding: 16px 0px 16px 0px;
        font-size: 8px;
        border-radius: 4px;
        margin-top: 20px;
    }

    .answers__accordion-question {
        margin-right: 20px;
        width: 32px;
    }

    .answers__accordion-hidden--arrow {
        width: 28px;
    }

    .answers__accordion .answers__accordion-sticky {
        font-size: 10px;
        text-wrap: nowrap;
    }

    .answers__subtitle {
        font-size: 12px;
    }

    .answers__accordion-open {
        font-size: 10px;
    }

    .answers__accordion-item {
        margin-bottom: 20px;
    }

    .answers__accordion-open {
        margin-bottom: 20px;
    }

    .application__row {
        flex-wrap: wrap;
    }

    .line-right {
        display: none;
    }

    .application__text-title {
        font-size: 14px;
    }

    .application__text-subtitle {
        font-size: 12px;
    }

    .application__text-second {
        margin: 0;
    }

    .application__second-step::after {
        left: 110px;
    }

    .application__third-step::after {
        left: 110px;
    }

    .first-step {
        margin: 0;
    }

    .second-step {
        margin: 0;
    }

    .third-step {
        margin: 0;
    }

    .application__first-wrapper,
    .application__second-wrapper {
        margin-bottom: 40px;
    }

    .application__first-wrapper,
    .application__second-wrapper,
    .application__third-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .application__text,
    .application__text-second {
        text-align: center;
    }

    .application__contacts-row {
        flex-wrap: wrap;
    }

    .application__contacts-row input {
        padding: 16px 0px 16px 10px;
        font-size: 12px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid rgba(255, 255, 255, 0.29);
        margin-bottom: 8px;
    }

    .application__contacts-row input:last-child {
        margin-bottom: 0;
    }

    .steps__subtitle {
   margin-bottom: 54px;}

    .footer__row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__contacts button {
        padding: 16px 0px 16px 10px;
        font-size: 12px;
        width: 100%;
        border-radius: 4px;
    }

    .footer__row p {
        font-size: 14px;
        text-align: center;
    }

    .header__wrapper {
        width: auto;
    }

    .header__logo {
        margin-right: 10px;
    }

    .footer__logo {
        margin-bottom: 22px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .footer__links {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .footer__contacts-text {
        margin: 0;
    }

    .application__contacts-row input::placeholder {
        font-size: 12px;
    }

    .briefcase__pros {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .briefcase__pros-item {
        margin-bottom: 40px;
    }

    .briefcase__second-row {
        margin-top: 20px;
    }

    .briefcase__plate {
        font-size: 14px;
        border-radius: 4px;
    }

    .briefcase__title {
        text-align: center;
        font-size: 17px !important;
    }

    .pros__item-title {
        font-size: 20px;
    }

    .pros__item-subtitle {
        font-size: 16px;
    }

    .briefcase__subtitle {
        font-size: 12px;
        text-align: center;
    }

    .briefcase__row {
        flex-wrap: wrap;
    }

    .slider-container {
        width: 178px;
    }

    #progress-input {
        width: 178px;
    }

    .briefcase__subheading {
        font-size: 14px;
    }

    .briefcase__heading {
        font-size: 18px;
    }

    .briefcase__inputs {
        display: none;
    }

    .first--group {
        top: 22px;
        left: 0;
    }

    #progress-bar {
        width: 310px;
    }

    .sec--group {
        bottom: 138px;
        left: 44px;
        position: absolute;
    }

    .advantages__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .advantages__list-more {
        font-size: 14px;
    }

    .advantages__list-item {
        background: #1b1b1c;
        border-radius: 5px;
        padding: 46px 46px 0px 44px;
        position: relative;
        height: 339px;
        width: 100%;
    }

    .steps__subtitle {
        font-size: 12px;
    }

    .steps__item-first::before {
        top: -56px;
        left: 248px
    }

    .steps__item-instr {
        font-size: 16px !important;
    }

    .steps__item-subtitle {
        font-size: 12px !important;
        padding-bottom: 40px;
    }

    .steps__item {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .steps__item:last-child {
        margin: 0;
    }

    .steps-margin {
        margin-bottom: 30px;
    }

    .steps__item-third::before {
        position: absolute;
        content: "";
        background: url(./img/3.svg) no-repeat;
        top: 18px;
        left: 230px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 110%;
    }

    .mobile {
        padding-bottom: 160px;
    }

    .briefcase {
        padding-bottom: 160px;
    }

    .steps__item-instr {
        max-width: 250px;
    }

    .bonus__title::before {
        position: absolute;
        content: "БОНУС";
        font-family: 'Gotham Pro Bold';
        font-weight: 700;
        font-size: 80px;
        line-height: 117%;
        text-align: center;
        background: linear-gradient(180deg, #4b5951 0%, rgba(61, 82, 70, 0.1) 98.9%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: -92px;
        z-index: -1;
        left: -2vw;
        right: -2%;
    }

    .bonus__buttons button {
        padding-bottom: 13px;
        padding-top: 13px;
        font-size: 8px;
        width: 100%;
        border-radius: 4px;
    }

    .bonus__button-get {
        margin-bottom: 8px;
    }

    .bonus__section {
        padding-top: 288px;
        padding-bottom: 160px;
    }

    .answers {
        padding-bottom: 160px;
    }

    .application__row {
        padding-bottom: 42px;
        justify-content: center;
    }

    .bonus__img-background {
        top: 0;
    }

    .bonus__subtitle {
        font-size: 12px;
    }

    .invest__title {
        width: 300px;
    }

    .hero__reviews p {
        font-size: 10px;
        margin: 2px 0px 0px 5px;
    }

    .hero__button-download:after {
        content: url(./img/smallpaper.svg);
        position: absolute;
        top: 0;
        left: 0;
        right: -96px;
        bottom: 0;
    }



    .hero__button-download {
        padding: 12px 22px 12px 10px;
        border-radius: 4px;
        box-shadow: none;
        margin-right: 8px;
    }

    .hero__button-open {
        padding: 13px 31px 13px 31px;
        border-radius: 4px;
        border: 1px solid #CE6933;
    }

    .header__buttons button:last-child {
        font-size: 7px;
        padding: 6px 14px 7px 14px;
        box-shadow: none
    }

    .briefcase__first-row {
    margin-bottom: 0}




}

@media (max-width: 420px) {
    .hero__background {
        top: 500px;
        left: -80px;
    }
}

@media (min-width: 420px) and (max-width: 470px) {
    .hero__background {
        top: 450px;
        left: -80px;
    }
}

@media (min-width: 470px) and (max-width: 494px) {
    .hero__background {
        top: 400px;
        left: -80px;
    }
}

@media (min-width: 494px) and (max-width: 640px) {
    .hero__background {
        top: 321px;
        left: -8px;
    }
}


@media (min-width: 390px) and (max-width: 430px) {
    .hero__present-wrapper img {
        right: 54px;
    }
}


@media (max-width: 330px) {
    .hero__background {
        top: 600px;
    }
}


@media (max-width: 1280px) {
    .hero__present-timer {
        align-items: center;
        margin-top: 15px;
    }

    .timer {
        text-wrap: nowrap;
    }
}



@media (max-width: 1410px) {
    .briefcase__row {
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .briefcase__second-row {
    align-items: center;
    display: flex;
    flex-direction: column;
    }
    .mobile__row {
            flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .mobile__subtitle {
        margin-bottom: 40px
    }
}
@media (min-width: 1201px) and (max-width: 1440px) {
    .advantages__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
}
@media (min-width: 640px) and (max-width: 1200px) {
    .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    }
}
.briefcase__pros {
        flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
} }
@media (min-width: 640px) and (max-width: 1124px) {
    .briefcase__pros-item:last-child {
        margin-top: 60px
    }
}
@media (min-width: 640px) and (max-width: 1620px) {
    .hero__background {
        display:none
    }
}
@media (min-width: 640px) and (max-width: 805px) {
    .hero__reviews {
       margin-top: 130px;
}
    .hero__button-download {
        margin-bottom: 20px
    }
}
@media (min-width: 640px) and (max-width: 1532px) {
    .application__contacts-row {
        flex-direction: column;
    }
    .application__contacts-row input {
        margin-bottom: 30px
    }
    .application__contacts-row input:last-child {
        margin-bottom: 0
    }
}
@media (min-width: 640px) and (max-width: 880px) {
    .invest__row {
        flex-wrap: wrap-reverse;}
}

@media (min-width: 640px) and (max-width: 1140px) {
    .answers__row {
        flex-wrap: wrap
    }
    .answers__consult-button {
        margin: 40px 0px 80px 0px;
    }
}


